<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0HG8wgR7E7LdRSD5gKaTyvK0YhoLboHk</string>
	<key>GCM_SENDER_ID</key>
	<string>143197560587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyradi.kyradi</string>
	<key>PROJECT_ID</key>
	<string>kyradi-superapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kyradi-superapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143197560587:ios:a47ce1ba08c889a0108c0e</string>
</dict>
</plist>